body{
    background-color: #E5E5E5; 
    width: auto;
}
/* WebStudio */
.WebStudio{
    display: inline-block;
    width: auto;   
    height:100px;
}
.web{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.Studio{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

/* main_baner */
.main_baner{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;  
    background: #2F303A;
}
.main_baner_text{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}



